/* RESET */

html {
    color: #000;
    background: #fff;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
fieldset, img {
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
input, textarea ,select {
    *font-size: 100%;
}
*:focus {
    outline: none;
}

/* BODY */

canvas {
    display: block;
}

body {
    width: 100vw;
    height: 100vh;
    /* background-image: linear-gradient(rgb(48,64,80), rgb(96,112,128)); */
    background-image: linear-gradient(rgb(67,130,248), rgb(210,234,226));
    /* background-image: linear-gradient(rgb(160,232,239), rgb(0,0,24)); */
    /* background-image: linear-gradient(rgb(37,43,73), rgb(9,20,32)); */
}